@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.bg-image{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('./images/fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
}

.box-login{
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login{
  position: absolute;
  border-radius: 24px;
  background: #fff;
  padding: 30px 80px;
  display: flex;
  align-items: flex-start;
  gap: 69px;
}

.content-login .icon-exit{
  position: absolute;
  right: 25px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.items-top .logo{
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
}

.items-top .text-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-top .text-top h1{
  font-size: 32px;
  font-weight: 500;
  color: #333;
}

.items-top .text-top a{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.buttons-login{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-login a{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 80px;
  border: solid 1px #333;
  font-size: 16px;
  color: #333;
  border-radius: 40px;
  font-weight: 500;
}

.buttons-login a:hover{
  background: #33333325;
  border: 1px solid #33333325;
}

.buttons-login a img{
  width: 26px;
}

.separation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.separation .hr{
  height: 1px;
  width: 100%;
  background: #66666675;
}

.separation span{
  color: #666;
}

.form-login{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-login .login-btn{
  border: 0px;
  cursor: pointer;
  border-radius: 40px;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  background: #333;
}

.form-login .login-btn:hover{
  background: rgba(51, 51, 51, 0.712);
}

.form-login .email{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-login .email label{
  font-size: 15px;
  color: #666;
}

.form-login .email input{
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 12px;
  outline: none;
  border: 1px solid #66666679;
}

.form-login .password{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form-login .password a{
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
  color: #111;
}

.form-login .password .password-field{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.form-login .password .password-field input{
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 12px;
  outline: none;
  border: 1px solid #66666679;
}

.form-login .password .password-field .password-security{
  display: flex;
  justify-content: space-between;
}

.form-login .password .password-field .password-security label{
  font-size: 15px;
  color: #666;
}

.form-login .password .password-field .password-security .hide-btn{
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
}